{% extends 'main/base.html' %}
{% block title %} {{user.username}} {% endblock %}

  {% block links %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'main/style_profile.css' %}">
  {% endblock %}
{% block body %}






<div class="container">
    <div class="row">

        <div class="col coll">

           
 <h1>Not Watched</h1>
    {% for i in not_watched %}
     <div class="card d-flex justify-content-center" >
        <img src="{{i.poster_link}}" class="card-img-top" alt="{{i.title}}"style="width: 18rem;">

        <div class="card-body">
        <h5 class="card-title">{{i.title}}</h5>
        <p class="card-text">{{i.plot}}</p>


        <div class="row">

        <div class="col">

        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="{{i.id}}" value="True"> 
    <button class="btn btn-primary" type="submit">Watched</button>
        </form>

        </div>
        <div class="col">
        <form method="POST" action="{% url 'main:deln' %}">
            {% csrf_token %}
            <input type="hidden" name="deln" value="{{i.id}}">
    <button class="btn btn-danger" type="submit">Delete</button>
        </form>
        </div>
        </div>
      </div>
</div>
            

    {% endfor %}

        </div>




 <div class="col coll">

           
 <h1>Watched</h1>
    {% for i in watched %}
   
              <div class="card d-flex justify-content-center" >
        <img src="{{i.poster_link}}" class="card-img-top" alt="{{i.title}}"style="width: 18rem;">

        <div class="card-body">
        <h5 class="card-title">{{i.title}}</h5>
        <p class="card-text">{{i.plot}}</p>



        <div class="row">

            <div class="col">

        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="{{i.id}}" value="False"> 
    <button class="btn btn-primary" type="submit">Not Watched</button>
        </form>
        </div>

        <div class="col">

        <form method="POST" action="{% url 'main:delw' %}">
            {% csrf_token %}
            <input type="hidden" name="delw" value="{{i.id}}">
    <button class="btn btn-danger" type="submit">Delete</button>
        </form>

        </div>
        </div>

      </div>
</div>

      

    {% endfor %}

        </div>





    </div>
</div>










{% endblock %}