{% extends 'main/base.html' %}

{% block title %} Search {% endblock %}

{% block links %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'main/style_search.css' %}">
{% endblock %}
{% block body %}





{% for t,y,p,ty,im in lis %}

<div class="container">

  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{p}}" class="img-fluid rounded-start poster" alt="{{t}}">
      </div>
      <div class="col-md-8">
        <div class="card-body">
        <h1 class="card-title"><a id='title_link'href="https://www.imdb.com/title/{{im}}/">{{t}}</a> </h1> <span class="subtle start-year">{{y}}</span>
          <p class="card-text"><small class="text-muted">{{ty}}</small></p>

          <form action="{% url 'main:search_res' %}" method="POST">

            {% csrf_token %}

            <input type="hidden" name="imdb_id" value="{{im}}">

            <button class="btn btn-primary" type="submit">Add</button>

          </form>


        </div>
      </div>
    </div>
  </div>
</div>


{% endfor %}









{%for t,y,p,ty,im in lis %}
<div class="container" style="background-color: burlywood;">
  <h2>{{t}}</h2>
</div>

{% endfor %}

{% endblock %}