{% extends 'main/base.html' %}

{% block title %} Search {% endblock %}

{% block links %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'main/style_search.css' %}">
{% endblock %}
{% block body %}



<div class="row row-cols-auto">

{% for t,y,p,ty,im in lis %}

<div class="container m-3 ms-5">

  <div class="card md-3" style="width: 20rem;">
        <img src="{{p}}" class="card-img-top poster" alt="{{t}}">
        <div class="card-body">
        <h1 class="card-title"><a id='title_link'href="https://www.imdb.com/title/{{im}}/">{{t}}</a> </h1> <span class="subtle start-year">{{y}}</span>
          <p class="card-text"><small class="text-muted">{{ty}}</small></p>
          <form action="{% url 'main:search_res' %}" method="POST">

            {% csrf_token %}

            <input type="hidden" name="imdb_id" value="{{im}}">

            <button class="btn btn-primary" type="submit">Add</button>

          </form>


        </div>
  </div>
</div>


{% endfor %}


</div>






{%for t,y,p,ty,im in lis %}
<div class="container" style="background-color: burlywood;">
  <h2>{{t}}</h2>
</div>

{% endfor %}

{% endblock %}