
@import url('https://fonts.googleapis.com/css2?family=Atma:wght@700&display=swap');
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.list{
    background-color: rgb(42, 37, 36);
}


.boddy{
    background-color: #c02942;
    background: #c02942 url('bg3.jpg');
}

.hero{
    color: #fed9b5;
    text-align: center;
    padding: 4em;
    padding-bottom: 10em;
}

#logo{
    font-family: 'Atma', cursive;
}


.frm{
    background-color:rgb(42, 37, 36);
    border-radius: 5rem;

        padding: 3em;
}

#item_title{
    font-size: 2.5rem;
}

.card{
background-color: rgba(26, 24, 22); 
color: white;
border-radius: 1rem;
text-align: start;

}

#title_link{
    color: #fed9b5;
    text-decoration: none;
    font-weight: bold;
}
.poster{
    padding: 2em;
}

input[name='tit']{
    width: inherit;
}

@media (min-width: 930px){

    #logo{
        font-size: 10rem;
    }

    .frm{
        padding: 5em;
        margin-top: -3.5em;
        margin-left: -3em;
        margin-right: -2em;
        margin-bottom: 4em;
    border-radius: 10rem;
    }

}


body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

#tit {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

#tit:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 5em;
}